* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 4rem 2rem;
  background-color: #003f69;
}

article:nth-child(odd) {
  background-color: #106b87;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

li {
  font-size: 1.5rem;
}
